@keyframes container-view {
  0% {
    overflow: hidden;
    max-height: 0%;
    opacity: 0;
  }
  5% {
    opacity: 1;
    max-height: 10%;
  }
  50% {
    max-height: 50%;
  }
  100% {
    max-height: 100%;
  }
}
.annonce-contenaire {
  width: auto;
  margin-bottom: 2.36rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.contenaire_titre {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 98%;
}
@media screen and (max-width: 650px) {
  .contenaire_titre {
    height: 1rem;
  }
}
.contenaire_titre .contenaire_identite {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 10rem;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
@media screen and (max-width: 650px) {
  .contenaire_titre .contenaire_identite {
    position: relative;
    top: 11rem;
  }
}
.contenaire_titre .annonce-title {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  width: auto;
}
@media screen and (max-width: 650px) {
  .contenaire_titre .annonce-title {
    font-size: 1.125rem;
  }
}
.contenaire_titre .annonce-name {
  color: #000;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  letter-spacing: 1px;
  text-align: justify;
  text-wrap: pretty;
  font-weight: 300;
  color: #ff6060;
  inline-size: 2px;
  writing-mode: horizontal-tb;
  width: auto;
}
.contenaire_titre .annonce-photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.annonce-location {
  height: 1.8125rem;
  margin: 0px;
  padding-top: 1.25rem;
  color: #000;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  letter-spacing: 1px;
  text-align: justify;
  text-wrap: pretty;
  font-weight: 300;
}
@media screen and (max-width: 650px) {
  .annonce-location {
    font-size: 0.75rem;
    font-weight: 500;
  }
}

.contenaire_comments {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
}
@media screen and (max-width: 650px) {
  .contenaire_comments {
    flex-direction: column;
    margin-bottom: 2.5rem;
    height: 10rem;
  }
}
.contenaire_comments .contenaire_tags {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}
.contenaire_comments .annonce-tags {
  height: 1.5625rem;
  color: white;
  border-radius: 0.3125rem;
  background: #FF6060;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.box-description-equipments {
  display: grid;
  gap: 4.75rem;
  width: 100%;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 650px) {
  .box-description-equipments {
    gap: 1.25rem;
    grid-template-columns: 1fr;
  }
}
.box-description-equipments .tools {
  display: flex;
  width: 2rem;
}
.box-description-equipments .contenaire_description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.625rem 1.25rem 0.625rem 0.625rem;
  color: white;
  border-radius: 0.3125rem;
  background: #FF6060;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
}
.box-description-equipments .arrow-back {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.box-description-equipments .arrow {
  width: 2rem;
  height: 2rem;
  rotate: -180deg;
  cursor: pointer;
}
.box-description-equipments .annonce-description {
  font-weight: 300;
  display: block;
  animation: container-view 2s ease-in-out;
  color: #000;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  letter-spacing: 1px;
  text-align: justify;
  text-wrap: pretty;
  font-weight: 300;
}
.box-description-equipments .annonce-clear {
  display: none;
}
.box-description-equipments .contenaire_equipments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: white;
  border-radius: 0.3125rem;
  background: #FF6060;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  padding: 0.625rem 1.25rem 0.625rem 0.625rem;
}
.box-description-equipments .annonce-equipments {
  animation: container-view 7s ease-in-out;
  display: block;
}
.box-description-equipments .equipement {
  color: #000;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  letter-spacing: 1px;
  text-align: justify;
  text-wrap: pretty;
  font-weight: 300;
  margin: 12px;
}

.stars-wrapper {
  display: flex;
  width: 12.25rem;
  height: 2.25rem;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 650px) {
  .stars-wrapper {
    position: relative;
    right: 2rem;
    bottom: 1rem;
  }
}
.stars-wrapper .stars-notation {
  size: 15px;
}/*# sourceMappingURL=Page_Annonce.css.map */