// Typographie pour header

@mixin link-style{
    width: 8.5rem;
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration: none;
}



// Typographie pour HomePage

@mixin concept-title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%
}

@mixin title-card{
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
}